extends ../layout

block content
    .panel.panel-default(style='max-width: 525px; margin: auto;')
        .panel-body
            h2 Contact Us
            if success_messages[0]
                .alert.alert-success
                    each success_message in success_messages
                        p #{success_message}
            if errors
                .alert.alert-danger
                    each error in errors
                        p #{error.msg}
            //- to prevent spambots, add the method and action after a page load timeout.
            form(role="form" id="contact-us-form")
                .form-group
                    label Email:
                    input.form-control(name='email' placeholder='you@domain.com')
                .form-group
                    label Your Message:
                    input.form-control(name='subject' style='margin-bottom: 4px' placeholder='Subject (optional but helpful)')
                    textarea.form-control(name='message' style='height:100px')
                button.btn.btn-default Submit

    script(type="text/javascript").
        // set the background image of the body here
        $('body').css('background-image', 'linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(/images/hero_image.jpg)');

        // 1 second delay before setting form attributes to prevent bots from submitting the form.
        setTimeout(function () {
          $('#contact-us-form').prop('action', '/contact');
          $('#contact-us-form').prop('method', 'post');
        }, 1000);
