extends ../layout

block content
    .panel.panel-default(style='max-width: 700px; margin: auto;')
        .panel-body
            h1 Support Glorify
            p Glorify.cc is a platform created by TheoTech LLC, inspired by Revelation 7. We want to 1) enable believers from various languages/cultures to worship together in many languages, 2) provide independent Christian songwriters a place to share their worship songs with the body of Christ, and 3) enable translators to use their talents to share song translations and bless others. Do you also want to see the church unleashed to worship in many languages? Support us by signing up for a subscription! By subscribing, you can have your name added to the Supporters page.
            p Your subscription to Glorify enables us to keep the website running and continuously improve features so more people around the world can benefit from the shared worship songs and translations.
            p If you aren’t able to subscribe right now, you can always support us by contributing one of your own songs or translations under the CC0 license, or by sharing Glorify with your friends and church!
            h2 How we use the funds
            p Your monthly or yearly subscription goes toward:
            ul
                li
                    strong Web hosting and maintenance
                    |  - to ensure that Glorify continues to be available to everyone
                li
                    strong Feature improvements
                    |  - to continuously improve the capabilities for users and overall experience. We have a lot of ideas on this, but it takes time and resources to get there. Your financial support helps make Glorify even better!
                li
                    strong Online marketing
                    |  - to help get the word out about Glorify as a platform for independent Christian songwriters to share their songs, worship leaders to discover translations and songs, and translators to contribute their talents to bless the body of Christ.
                li
                    strong Administrative overhead
                    |  - as with any endeavor, there are administrative costs to ensure Glorify runs smoothly. A small portion of the funds goes towards managing requests, moderating submissions, accounting, and admin/legal responsibilities.
            .col-sm-6.
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="V7QN4JVFBWUCY">
                <table>
                <tr><td><input type="hidden" name="on0" value="Support Glorify (monthly)">Support Glorify (monthly)</td></tr><tr><td><select name="os0" class="form-control">
                <option value="Level 1">Level 1 : $5.00 USD - monthly</option>
                <option value="Level 2">Level 2 : $10.00 USD - monthly</option>
                <option value="Level 3">Level 3 : $20.00 USD - monthly</option>
                </select> </td></tr>
                <tr><td><input type="hidden" name="on1" value="Name (for Supporters page)">Name (for Supporters page)</td></tr><tr><td><input type="text" name="os1" maxlength="200" class="form-control"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="USD">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            .col-sm-6.
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="6JTPBHZ5B2H46">
                <table>
                <tr><td><input type="hidden" name="on0" value="Support Glorify (yearly)">Support Glorify (yearly)</td></tr><tr><td><select name="os0" class="form-control">
                <option value="Level 1">Level 1 : $60.00 USD - yearly</option>
                <option value="Level 2">Level 2 : $120.00 USD - yearly</option>
                <option value="Level 3">Level 3 : $240.00 USD - yearly</option>
                </select> </td></tr>
                <tr><td><input type="hidden" name="on1" value="Name (for Supporters page)">Name (for Supporters page)</td></tr><tr><td><input type="text" name="os1" maxlength="200" class="form-control"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="USD">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
