//- This is for the google ad.
script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
ins.adsbygoogle(
     style="display:block;margin-top:10px"
     data-ad-client="ca-pub-7667442335090031"
     data-ad-slot="7956084751"
     data-ad-format="auto")
script.
  (adsbygoogle = window.adsbygoogle || []).push({});
