extends layout

block content
    .row
        .col-md-6
            h1(style='display:inline-block') Edit Private Song
            button.btn.btn-default.pull-right(style='display:inline-block; margin-top: 25px' data-toggle='modal' data-target='#copypaste') Copy/Paste Lyric
            #editPrivateSong
    
    script.
        var song = !{JSON.stringify(song).replace(/<\//g, "<\\/")}
    script(src='/dist/javascripts/privateSongForm.js')
    script.
        m.mount(document.getElementById('editPrivateSong'), privateSongForm(song, 'edit', false).privateSongFormComponent)
