.container(style='padding-bottom: 20px')
    footer
        .row
          .col-xs-12.text-center
            a(href='#') About/FAQ
            &nbsp;&middot;&nbsp;
            a(href='/help') Help
            &nbsp;&middot;&nbsp;
            a(href='#') Give
            &nbsp;&middot;&nbsp;
            a(href='#') Privacy Policy
            &nbsp;&middot;&nbsp;
            a(href='#') Terms of Use
            &nbsp;&middot;&nbsp;
            a(href='/contact') Contact us
            
            //- 
            //- .col-xs-2
            //- .col-xs-4.whyDoesThisMatter
            //-     h5 PRODUCT
            //-     a About/FAQ
            //-     br
            //-     a(href='/help') Help
            //-     br
            //-     a Give
            //- .col-xs-4.whyDoesThisMatter
            //-     h5 LEGAL
            //-     a Privacy Policy
            //-     br
            //-     a Term of Use
            //-     br
            //-     a(href='/contact') Contact Us
            //- .col-xs-2
