.container(style='padding-bottom: 20px')
    footer.footer
        .row
          .col-xs-12.text-center
            a(href='#') About/FAQ
            &nbsp;&middot;&nbsp;
            a(href='/help') Help
            &nbsp;&middot;&nbsp;
            a(href='#') Give
            &nbsp;&middot;&nbsp;
            a(href='#') Privacy Policy
            &nbsp;&middot;&nbsp;
            a(href='#') Terms of Use
            &nbsp;&middot;&nbsp;
            a(href='/contact') Contact us
