.container-fluid(style='padding-bottom: 20px')
    footer
        .row
            .col-xs-6
                h5 USING SLACK
                a About/FAQ
                br
                a(href='/help') Help
                br
                a Give
            .col-xs-6
                h5 LEGAL
                a Privacy Policy
                br
                a Term of Use
                br
                a(href='/contact') Contact Us
