.container(style='padding-bottom: 20px')
    footer
        .row
            .col-xs-3
            .col-xs-4
                h5 USING GLORIFY
                a About/FAQ
                br
                a(href='/help') Help
                br
                a Give
            .col-xs-4
                h5 LEGAL
                a Privacy Policy
                br
                a Term of Use
                br
                a(href='/contact') Contact Us
