extends layout

block content
    each songs in songss
        table.table(style='text-align: center; page-break-after: always')
            thead
                tr
                    each song in songs
                        th(style='text-align: center') #{song.title}
            tbody
                tr
                    each song in songs
                        td
                            each line in song.lyric
                                - if (line === '')
                                    br
                                - else
                                    !{line}
                                    br
  
