extends layout

block content
    each songsObj in songs2d
        -var i = 0
        -var j = 0
        -while (i < songsObj.songs.length && j < songsObj.songs.length)
            table.table(style='text-align: center; page-break-after: always')
                thead
                    th(style='text-align: center') #{songsObj.songs[i].title}
                    -i++
                    - while(i % 3 !== 0 && i < songsObj.songs.length)
                        th(style='text-align: center') #{songsObj.songs[i].title}
                        -i++
                tbody
                    tr
                        td
                            -for(var x = 0; x < songsObj.minLine; x++)
                                - if (songsObj.songs[j].lyric[x] === '')
                                    br
                                - else
                                    !{songsObj.songs[j].lyric[x]}
                                    br
                        -j++
                        -while(j % 3 !== 0 && j < songsObj.songs.length)            
                            td
                                -for(var x = 0; x < songsObj.minLine; x++)
                                    - if (songsObj.songs[j].lyric[x] === '')
                                        br
                                    - else
                                        !{songsObj.songs[j].lyric[x]}
                                        br
                            -j++
