extends layout

block content
    h1 Create Slides
    br
    h4 Glorify can do the work of making slides from song lyrics for you! 
    h4 Follow the instructions below to export multiple songs to slides:
    ol
        li
            a(href='/user/login') Login 
            span or  
            a(href='/user/signup') create an account
        li Create a 
            a(href='/user/playlist') Playlist
        img.createSlide(src='/images/create_playlist.png')
        li Add songs to your playlist
        img.createSlide(src='/images/add_to_playlist.png')
        li Once you’re ready, view your playlist and select the languages you want the lyrics in
        img.createSlide(src='/images/choose_language.png')
        li Export the playlist to PDF or powerpoint
