extends layout

block content
    include topnav
    h1 Help
    ul
        li
            a(href='/help/createslide') Create Slides
        li
            a() Adding Songs/Translations to Glorify.cc
        li
            a(href='#cc0') What is CC0 and public domain?
        li
            a(href='#whyCopyrightMatters') Why does copyright matter?
        li
            a(href='#compensation') What about compensation?
        li
            a(href='#cost') What does Glorify cost?
        li
            a(href='#howToExport') How do I export my songs to PDF or powerpoint?
        li
            a(href='#howToContribute') How do I contribute a song or translation to Glorify.cc?
    hr(style='height:2px; background-color:#c8c8c8;')

    #cc0.helpPageQuestion
        h3 What is CC0 and public domain?
        p.
            CC0 (or Creative Commons Zero) is “a license used by the creator/rights holder of a work to change the copyright state of a work, enabling it 
            to be used freely by anyone worldwide.” (Source: <a href=https://creativecommons.org/publicdomain/zero/1.0/>https://creativecommons.org/publicdomain/zero/1.0/</a>)
        p This license is critical to giving people permission to use creative works freely as in freedom. 
        p Public domain is a label of the state of a work that has fallen out of copyright and into the public domain, and can be used freely by the public.
        
        p Learn more about CC0 on their website: <a href=https://creativecommons.org/publicdomain/zero/1.0/>Creative Commons</a>
        p.
            Learn more about the difference between Public Domain and CC0:
            <a href=https://wiki.creativecommons.org/wiki/CC0_FAQ#What_is_the_difference_between_CC0_and_the_Public_Domain_Mark_.28.22PDM.22.29.3F>
            Difference between Public Domain and CC0</a>
      
    #whyCopyrightMatters.helpPageQuestion
        h3 Why does copyright matter?
        p.
            Many worship songs sung in churches today are copyrighted and originate from English-speaking countries. This legally means that copyright 
            holders can restrict the usage, display, printing, copying, and translation of these songs in virtually anyway and for virtually any reason. 
            Practically, this means churches are required to pay to obtain a license to perform, display, print, translate, distribute and use these songs. 
            Each country may have different licensing requirements.
        
        p.
            We believe many people have no desire to impose this hindrance to worship for the Global, but would love to contribute their songs for the benefit 
            of the Global Church to use freely. We believe God has gifted many believers in the Body with musical and lyrical gifts that are intended to bless 
            the entire Body and that creating a platform where they can freely share their work and make it freely available to others is the best way to 
            facilitate that.
            
        p.
            Imagine if in churches around the world we were singing music that originated from Asia, America, Africa, Europe, Australia, … and maybe even 
            Antarctica each person singing in their own language, but with one voice glorifying God (cf Romans 15:6). Imagine if churches around the world 
            reflect Jesus’ vision in Revelation 7 of a church constituted by people from every language, united in its worship of God and faith in Jesus Christ. 
            We believe this is a vision God wants all of us to experience every Sunday and we humbly offer Glorify.cc as a simple step towards making that dream 
            a reality.
        
        p.
            We built Glorify.cc because we want to see the Church unleashed from the status quo. We want to see the Church united in worship across 
            languages and cultures. We want to see the Church be able to worship freely. 

        p.
            Revelation 7 says that people from every language and every part of the world will be praising God. Glorify.cc enables churches to sing praises 
            in multiple languages together. It's a platform that empowers the global church to share their songs with one another, to contribute translations 
            so others can join in, and to come together and worship freely.


    #compensation.helpPageQuestion
        h3 What about compensation?
        p.
            We believe Christians who earn their living by writing, performing and sharing songs of worship deserve their wages. However,
            we also believe that the status quo is significantly mis-configured for our times. Furthermore, the professional Christian 
            artist cannot exist in many parts of the world where Christianity is restricted, and in times past many great believers
            contributed their music as hymns to be translated and sung by any believer freely. 

        p.
            In the present day, we believe professional 
            Christian artists can continue to make their living through the music they create, perform, sell and share. We also believe that
            if they would contribute just one song to the Creative Commons, they could bless the Global Church in ways that would exceed 
            monetary contributions. Imagine what would happen if for example Chris Tomlin contributed “How Great is Our God” to the Creative 
            Commons. It would mean that Christians from every language would have the legal freedom to translate that song and use it for 
            worship in their language and with their people without any restriction. Chris Tomlin could continue to hold all of his other music 
            under copyright with his record label and sell his albums and put on paid concerts. But this one small gift could have an outsized 
            impact on worship around the world.

        p.
            We also believe that there is an opportunity here for the long tail of Christian artists who cannot 
            earn a living purely from their musical gifts to be recognized and rewarded for their work. Eventually we hope Glorify becomes a place 
            where any believer, any artist and any translator who wants to contribute a worship song to the Global Church can do so and be appreciated for 
            their service. We think this will be possible through a mechanism where people can give to support the artists whose music they love and use, 
            perhaps similar to a Patreon or Twitch model.
        p.
            At the end of the day our objective is to empower believers around the world to worship together and worship freely in any language 
            and to make the singing aspect of worshipping Jesus an integral part of each of our lives. All of our work is meant to support this goal.
        
    #cost.helpPageQuestion
        h3 What does Glorify cost?
        p.
            Glorify is free to use for anyone who wants to use CC0 and Public Domain songs. If people want to support our mission of spreading the freedom 
            to worship in any language worldwide, they can support us by becoming a member. The benefits of being a member are an ad-free experience and 
            the ability to store private songs in a personal database. These are songs that are not contributed under a CC0 license, which you want to use 
            under your own licenses for your own personal purposes.

        p.
            We’ve structured the features this way to incentivize CC0 while recognizing the practical need to use other kinds of content for private use 
            under personal or organizational licenses. In order to help pay for the servers, labor and other things necessary to maintain Glorify, we’ve opted 
            to include ads in a few key places on the site, but sparingly.
            
        p.
            If you believe in helping empower the Global Church to worship freely in any language, we invite you to become a member and to give us ideas 
            for other kinds of member benefits that you would enjoy and fit with the mission.
        
    #howToExport.helpPageQuestion
        h3 How do I export my songs to PDF or powerpoint?
        p.
            Create a playlist and add the songs you want to the playlist. When you are ready, go to Playlists, and view the one you wish to export. 
            Click “Export Playlist” and then select the languages you wish to have each song in. Finally, preview the songs and select which format you want
            to export the songs in - PDF or powerpoint. The file will then be available in your downloads.

    #howToContribute.helpPageQuestion
        h3 How do I contribute a song or translation to Glorify.cc?
        p.
            Create an account <a href=/use/signup>here. Then click here to contribute a song or a translation of a song under the CC0 license.
