extends layout

block content
    include topnav
    h1 Create Slides
    br
    h4 Glorify can do the work of making slides from song lyrics for you! 
    h4 Follow the instructions below to export multiple songs to slides:
    ol
        li login or Create an account
        li Create a Playlist 
        li Add songs to your playlist
        li Once you’re ready, view your playlist and select the languages you want the lyrics in
        li Export the playlist to PDF or powerpoint
    br
    a.btn.btn-default(href='/user/login') Login 
    a.btn.btn-default(href='/user/signup') Signup
