extends layout

block content
    nav.navbar.transparent
        .container-fluid
            .collapse.navbar-collapse
                -if(!(login && user.username == "admin"))
                    a.btn.btn-primary(href='/songlist') View All Songs
                include topnav-user

    header#header(style="text-align: center")
        h1 SPF.IO Songbase
        p Find Public Domain and CC0 Worship Song in Multiple Language
        #searchBox(style='width: 30em; margin: auto')
        br
        br
        br
        table.table.table-striped.table-bordered(style="margin: auto; width: 30em;")
            thead
                tr
                    th(style="text-align:center; font-size:1.2em") Latest Songs & Translations
            tbody
                each song in songs
                    tr
                        td
                            a(href='/songlist/#{song.id}', font-size="5em") #{song.title}
                            |  by #{song.author}

      script(src='/javascripts/searchBox.js')
        
