doctype html
html
    head
        include headContent
    body
        //this var is to omit the searchbox on topbar
        -var withoutSearchbox = true;
        include importJS
        #homeTopbar
            include topnav
        .jumbotron
            header#header.text-center(style="margin-bottom: 90px")
                img(src='/images/glorifylogo400x100.png' style='height: 80px; margin-bottom: 50px')
                p(style='color: white; text-shadow: 1px 1px 1px rgb(0,0,0,0.5)') Find Public Domain and CC0 Worship Songs in Many Languages
                #searchBoxHome

        .container
            .text-center
                h1(style='margin-top: 0;') Worship in Many Languages
                p.lead Glorify.cc enables you to worship together in many languages by providing a single place where songwriters and worship leaders can share worship music and translations.
                a.btn.btn-warning(href='/user/signup') Sign Up &nbsp;
                a.btn.btn-default(href='#features') Learn More
                hr

            #features
                h1.text-center Features
                br
                .row
                    .col-xs-12.col-sm-6.col-md-6
                        .thumbnail.text-center
                            h4.featureTitle Easily Export Slides
                            .circularIcon(style='margin:auto')
                                img(src='/images/desktop-computer.png' style='height: 40px; margin-top: 5px')
                            .caption
                                p.featureExplanation Glorify can do the work of making slides for you! Add songs you want to your playlist, select the languages you want and click export.
                                a.btn.btn-default(href='/help/createslide') Create Slides
                    .col-xs-12.col-sm-6.col-md-6
                        .thumbnail.text-center
                            h4.featureTitle Lyrics in Many Languages
                            .circularIcon(style='margin:auto')
                                img(src='/images/languages.png' style='height: 40px; margin-top: 5px')
                            .caption
                                p.featureExplanation Use Glorify to get song lyrics in many languages. Contribute translations to help others worship together.
                                a.btn.btn-default(href='/discover') Find Songs
                .row
                    .col-xs-12.col-sm-6.col-md-6
                        .thumbnail.text-center
                            h4.featureTitle Share your songs with the Global Church
                            .circularIcon(style='margin:auto')
                                img(src='/images/business-organization.png' style='height: 40px; margin-top: 5px')
                            .caption
                                p.featureExplanation Songwriters can share their worship songs with the global church on Glorify so that even more believers can worship freely.
                                a.btn.btn-default(href='/songlist-db/add') Contribute Songs
                    .col-xs-12.col-sm-6.col-md-6
                        .thumbnail.text-center
                            h4.featureTitle Freedom to worship
                            .circularIcon(style='margin:auto')
                                img(src='/images/broken-link.png' style='height: 40px; margin-top: 5px')
                            .caption
                                p.featureExplanation All songs and translations on this website are freely available as public domain or CC0 songs. Believers all over the globe can sing, share, and translate these songs.
                                a.btn.btn-default(href='/help#cc0') Learn more
            hr


            #why.whyDoesThisMatter
                h2 Why Does This Matter?
                p Revelation 7 says that people from every language and every part of the world will be praising God together. Yet many worship songs sung in churches today originate from English-speaking countries and are restricted by copyrights. Churches are legally required to pay to perform, display, print, and even translate these worship songs. License requirements also vary depending on the country.
                p We want to see the Church unleashed from the segregated status quo. We want to see the Church united in worship across language and culture. We want to see the Church worshiping together freely. That's why we built Glorify.cc.
                p Glorify.cc enables churches to sing praises in many languages together. It's a platform that empowers the global church to share their songs with one another and to contribute translations so everyone can join in. All public songs and translations on this site are available under the public domain or CC0 license meaning that you are free to display, print and translate these lyrics without restriction.
                br
                .row
                  .col-xs-6.text-center
                    h4 Make Revelation 7 a reality in your church today.
                    a.btn.btn-lg.btn-warning(href='/user/signup') Sign Up
                  .col-xs-6.text-center
                    h4 Help us empower churches to worship in many languages.
                    a.btn.btn-lg.btn-success(href='/give') Give

                br
                br

        div.text-center(style="padding:20px;font-weight:300; background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.45)), url(/images/hero_image.jpg);")
          blockquote(style="border:none;margin:0;")
            p(style="margin:auto; max-width:700px; color:white;") After this I looked, and behold, a great multitude that no one could number, from every nation, from all tribes and peoples and languages, standing before the throne and before the Lamb, clothed in white robes, with palm branches in their hands, and crying out with a loud voice, “Salvation belongs to our God who sits on the throne, and to the Lamb!”
            footer(style="color:white; margin-top:10px") Revelation 7:9-11 ESV
        br
        include footer

        script(src='/dist/js/index.js')
        script.
            glorifyApp.initSearchBoxHome('searchBoxHome');
