doctype html
html
    head
        include headContent
    body
        //this var is to omit the searchbox on topbar
        -var withoutSearchbox = true; 
        include importJS
        #homeTopbar
            include topnav
        .jumbotron
            header#header.text-center(style="margin-bottom: 90px")
                img(src='/images/glorifylogo400x100.png' style='height: 80px; margin-bottom: 50px')
                p(style='color: white; text-shadow: 1px 1px 1px rgb(0,0,0,0.5)') Find Public Domain and CC0 Worship Songs in Multiple Languages
                #searchBoxHome

        .container
            h1(style='margin-top: 0;') Worship in Any Language
            p.lead Glorify.cc enables you to worship together in many languages by providing a single place where songwriters and worship leaders can share worship music and translations. 
            div(style='text-align: center;')
                a.btn.btn-default(href='#features') Learn more
            hr

            #features
                h1 Features
                .row
                    .col-xs-12.col-sm-6.col-md-6
                        .thumbnail.text-center
                            h4 Easily Export Slides
                            .circularIcon(style='margin:auto')
                                img(src='/images/desktop-computer.png' style='height: 40px; margin-top: 5px')
                            .caption
                                p Glorify can do the work of making slides for you! Just add the songs you want to export to your playlist and select the languages you want them in 
                                a.btn.btn-default(href='/help/createslide') Create Slides
                    .col-xs-12.col-sm-6.col-md-6
                        .thumbnail.text-center
                            h4 Lyrics in Many Languages
                            .circularIcon(style='margin:auto')
                                img(src='/images/languages.png' style='height: 40px; margin-top: 5px')
                            .caption
                                p#lyricsInManyLanguages Use Glorify to get song lyrics in various languages, and contribute translations to enable 
                                a.btn.btn-default(href='/discover') Find Songs
                .row
                    .col-xs-12.col-sm-6.col-md-6
                        .thumbnail.text-center
                            h4 Share your songs with the Global Church
                            .circularIcon(style='margin:auto')
                                img(src='/images/business-organization.png' style='height: 40px; margin-top: 5px')
                            .caption
                                p Songwriters can share their worship songs with the Global Church on Glorify so that even more believers can worship freely.
                                a.btn.btn-default(href='/songlist-db/add') Contribute Songs   
                    .col-xs-12.col-sm-6.col-md-6
                        .thumbnail.text-center
                            h4 Freedom to worship
                            .circularIcon(style='margin:auto')
                                img(src='/images/broken-link.png' style='height: 40px; margin-top: 5px')
                            .caption
                                p All songs and translations on this website are freely available as public domain or CC0 songs. Believers all over the globe can sing, share, and translate these songs.
            div.text-center
                a.btn.btn-default(href='#why') Learn more
            hr

            #why
                h2 Why Does This Matter?
                p Revelation 7 says that people from every language and every part of the world will be praising God together. And yet, many worship songs that are sung in churches right now originate from English-speaking countries and are copyrighted. Churches are legally required to pay in order to perform, display, print, and even translate worship songs. And license requirements also vary depending on the country.
                p We want to see the Church unleashed from the segregated status quo. We want to see the Church united in worship across language and culture. We want to see the Church be able to worship freely. That's why we built Glorify.cc.
                p Glorify.cc enables churches to sing praises in multiple languages together. It's a platform that empowers the global church to share their songs with one another and to contribute translations so others can join in. All songs and translations are available under the CC0 license, so the Church can come together and worship freely.
                p Make Revelation 7 a reality in your church today, sign up with Glorify.cc.
                blockquote After this I looked, and behold, a great multitude that no one could number, from every nation, from all tribes and peoples and languages, standing before the throne and before the Lamb, clothed in white robes, with palm branches in their hands, and crying out with a loud voice, “Salvation belongs to our God who sits on the throne, and to the Lamb!” - Revelation 7:9-11 ESV
        hr
        include footer

        script(src='/dist/javascripts/searchBoxHome.js')
        script.
            m.mount(document.getElementById('searchBoxHome'), searchBoxHome().searchBoxHomeComponent)
