extends layout

block content
    nav.navbar.transparent
        .container-fluid
            .collapse.navbar-collapse
                a.btn.btn-primary(href='/songlist') View All Songs
                include topnav-user
                    <a href="/songcart" class="btn btn-default" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Songcart</a>


    header#header(style="text-align: center")
        h1 SPF.IO Songbase
        p Find Public Domain and CC0 Worship Song in Multiple Language

        form.search-form(method="post" action="#")
            input#search.form-control(type="text" name="search" placeholder="Title, Author or Lyric")
            button.btn.btn-success(type="button")
                i(class="glyphicon glyphicon-search")
        br
        br
        br
        table.table.table-striped.table-bordered(style="margin: auto; width: 30em;")
            thead
                tr
                    th(style="text-align:center; font-size:1.2em") Latest Songs & Translations
            tbody
                each song in songs
                    tr
                        td
                            a(href='/songlist/#{song.id}', font-size="5em") #{song.title}
                            |  by #{song.author}
        .adminOption
            a(href='/songlist-db') Song Database  
            a(href='/userlist') User Database


        
