doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
        crossorigin="anonymous")
        link(rel='stylesheet' href='/stylesheets/slate.min.css')
        link(rel="icon" href="/images/glorifyicon_32x32.png")
    body
        include importJS
        nav.navbar.navbar-default.navbar-fixed-top(style='margin-bottom: 0px; border: none')
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#topmenu" aria-expanded="false")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') Home

                #topmenu.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        - if(login && user.username !== 'admin')
                            li
                                a(href="/user/library") Library
                            li
                                a(href="/user/playlist") Playlist
                        - else if(login && user.username === 'admin')
                            li
                                a(href="/admin/songlist-db") Song Database
                            //- li
                            //-     a(href="/admin/userlist") User Database
                    ul.nav.navbar-nav.navbar-right
                        if login
                            li
                                a #{user.username}
                            li
                                a(href="/user/logout") Log Out
                        else 
                            li
                                a(href="/user/login") Log In
                            li
                                a(href="/user/signup") Sign Up
        .jumbotron               
            header#header.text-center(style="margin-bottom: 90px")
                img(src='/images/glorifylogo400x100.png' style='height: 80px; margin-bottom: 50px')
                p(style='color: white; text-shadow: 1px 1px 1px rgb(0,0,0,0.5)') Find Public Domain and CC0 Worship Songs in Multiple Languages
                #searchBoxHome

        .container
            h1(style='margin-top: 0;') Worship in Any Language
            p Glorify.cc enables you to worship together in many languages by providing a single place where songwriters and worship leaders can share worship music and translations. 
            div(style='text-align: center;')
                a.btn.btn-default(href='#features') Learn more
            hr

            #features
                .row
                    .col-xs-12.col-sm-6.col-md-6
                        .thumbnail(style='text-align:center')
                            h4 Easily Export Slides
                            .circularIcon(style='margin:auto')
                                img(src='/images/desktop-computer.png' style='height: 40px; margin-top: 5px')
                            .caption
                                p Glorify can do the work of making slides for you! Just add the songs you want to export to your playlist and select the languages you want them in 
                                a.btn.btn-default(href='/help/createslide') Create Slides
                    .col-xs-12.col-sm-6.col-md-6
                        .thumbnail(style='text-align:center')
                            h4 Lyrics in Many Languages
                            .circularIcon(style='margin:auto')
                                img(src='/images/languages.png' style='height: 40px; margin-top: 5px')
                            .caption
                                p Use Glorify to get song lyrics in various languages, and contribute translations to enable 
                                a.btn.btn-default(href='/discover') Find Songs
                .row
                    .col-xs-12.col-sm-6.col-md-6
                        .thumbnail(style='text-align:center')
                            h4 Share your songs with the Global Church
                            .circularIcon(style='margin:auto')
                                img(src='/images/business-organization.png' style='height: 40px; margin-top: 5px')
                            .caption
                                p Songwriters can share their worship songs with the Global Church on Glorify so that even more believers can worship freely.
                                //- button.btn.btn-default Create Slides   
                    .col-xs-12.col-sm-6.col-md-6
                        .thumbnail(style='text-align:center')
                            h4 Freedom to worship
                            .circularIcon(style='margin:auto')
                                img(src='/images/broken-link.png' style='height: 40px; margin-top: 5px')
                            .caption
                                p All songs and translations on this website are freely available as public domain or CC0 songs. Believers all over the globe can sing, share, and translate these songs.
                                //- button.btn.btn-default Find Songs
            div(style='text-align: center;')
                a.btn.btn-default(href='#why') Learn more
            hr

            #why
                h2 Why Does This Matter?
                p.
                    Revelation 7 says that people from every language and every part of the world will be praising God together. And yet, many worship songs that are sung in churches right now originate from English-speaking countries and are copyrighted. Churches are legally required to pay in order to perform, display, print, and even translate worship songs. And license requirements also vary depending on the country.

                p.
                    We want to see the Church unleashed from the segregated status quo. We want to see the Church united in worship across language and culture. We want to see the Church be able to worship freely. That's why we built Glorify.cc.

                p.
                    Glorify.cc enables churches to sing praises in multiple languages together. It's a platform that empowers the global church to share their songs with one another and to contribute translations so others can join in. All songs and translations are available under the CC0 license, so the Church can come together and worship freely.

                p Make Revelation 7 a reality in your church today, sign up with Glorify.cc.
                blockquote After this I looked, and behold, a great multitude that no one could number, from every nation, from all tribes and peoples and languages, standing before the throne and before the Lamb, clothed in white robes, with palm branches in their hands, and crying out with a loud voice, “Salvation belongs to our God who sits on the throne, and to the Lamb!” - Revelation 7:9-11 ESV
        hr
        include footer

        script(src='/dist/javascripts/searchBoxHome.js')
        script.
            m.mount(document.getElementById('searchBoxHome'), searchBoxHome().searchBoxHomeComponent)
