extends layout

block content
    h2 Available Language:
    ol
        each language in languages
            li #{language.label} (#{language.code})

    form(method='post')
        .col-xs-3.form-group
            label Language label:
            input.form-control(name='label')
            label Language code:
            input.form-control(name='code')
            button.btn.btn-default Add
