extends layout

block content
    include topnav
    h1 Your Song Library
    br
    #library

    script(type='text/javascript').
        var songs = !{JSON.stringify(songs).replace(/<\//g, "<\\/")}
        var playlists = !{JSON.stringify(playlistLibrary).replace(/<\//g, "<\\/")}
    script(src='/bower_components/mithril/mithril.min.js')
    script(src='/javascripts/libraryTable.js')
