extends layout

block content
    include topnav
    h1 My Playlist
    #searchBox
    br
    #playlist

    script.
        var playlists = !{JSON.stringify(playlists).replace(/<\//g, "<\\/")}
    script(src='/bower_components/mithril/mithril.min.js')
    script(src='/dist/javascripts/deleteButton.js')
    script(src='/dist/javascripts/searchBox.js')
    script(src='/dist/javascripts/playlistTable.js')
    script.
      playlistTableComponent.init(document.getElementById('playlist'))
