extends layout

block content
    include topnav
    a.btn.btn-success(href='/songlist') Browse Songs
    h1 My Playlist
    br
    #playlist

    script(type='text/javascript').
        var playlists = !{JSON.stringify(playlists).replace(/<\//g, "<\\/")}
    script(src='/bower_components/mithril/mithril.min.js')
    script(src='/javascripts/playlistTable.js')
