extends layout

block content
    include topnav
    #playlistClicked


    script.
        var playlist_songs = !{JSON.stringify(songs).replace(/<\//g, "<\\/")}
        var playlist_name = !{JSON.stringify(playlistName).replace(/<\//g, "<\\/")}
    script(src='/dist/javascripts/deleteButton.js')
    script(src='/dist/javascripts/playlistClicked.js')
    script.
      m.mount(document.getElementById('playlistClicked'), playlistClickedComponent.playlistClicked)
