extends layout

block content
    include topnav
    .container
        .row.profile
            .col-md-3
                .profile-sidebar
                    .profile-userpic
                        img.img-responsive
                    .profile-usertitle
                        .profile-usertitle-name Marcus Doe
                    //- .profile-userbuttons
                    //-     button.btn.btn-success.btn-sm Follow
                    //-     button.btn.btn-danger.btn-sm Message
                    .profile-usermenu
                        ul.nav
                            li.active
                                <a href='#'><span class="glyphicon glyphicon-home"></span> Overview </a>
                          
            .col-md-9
                .profile-content
                    h1 Your songs
