extends layout

block content
.container
    .row.profile">
        .col-md-3">
            .profile-sidebar
                .profile-userpic
                    img.img-responsive(src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg")
                .profile-usertitle
                    .profile-usertitle-name Marcus Doe
                    .profile-usertitle-job Developer
                .profile-userbuttons
                    button.btn.btn-success.btn-sm Follow
                    button.btn.btn-danger.btn-sm Message
                .profile-usermenu
                    ul.nav
                        li.active
                            <a href="#"> <i class="glyphicon.glyphicon-home"> Overview </a>
                        li.active
                            <a href="#"> <i class="glyphicon.glyphicon-home"> Overview </a>
                        li.active
                            <a href="#"> <i class="glyphicon.glyphicon-home"> Overview </a>
                        li.active
                                <a href="#"> <i class="glyphicon.glyphicon-home"> Overview </a>
    <i class="glyphicon glyphicon-user"></i>
    Account Settings </a>
</li>
<li>
    <a href="#" target="_blank">
    <i class="glyphicon glyphicon-ok"></i>
    Tasks </a>
</li>
<li>
    <a href="#">
    <i class="glyphicon glyphicon-flag"></i>
    Help </a>
</li>
    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                Some user related content goes here...
            </div>
        </div>
    </div>
</div>
<center>
<strong>Powered by <a href="http://j.mp/metronictheme" target="_blank">KeenThemes</a></strong>
</center>
<br>
<br>
