extends layout

block content
    include topnav
    h1 Song List
    #search-option
    br
    h4 Songs
    //- #info.alert.alert-success(style='display: none') Song added to the library
    #song-table
    script(type='text/javascript').
        var songs = !{JSON.stringify(songs).replace(/<\//g, "<\\/")}
            
    script(src='/javascripts/searchOption.js')
    script(src='/javascripts/songlistTable.js')
