extends layout

block content
    nav.navbar.navbar-transparent
        .container-fluid
            .navbar-header
            <a class='navbar-brand' href="/" style="color: black"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span> SPF.IO Songbase </a>
            .collapse.navbar-collapse
                include topnav-user
    h1 Songs
    #searchBox
    br
    #songlistTable
    
    
    script.
        var songs = !{JSON.stringify(songs).replace(/<\//g, "<\\/")}
        var currentInLibrary = !{JSON.stringify(inLibrary).replace(/<\//g, "<\\/")}
        var playlists = !{JSON.stringify(playlists).replace(/<\//g, "<\\/")}
    script(src='/dist/javascripts/songlistTable.js')
    script(src='/dist/javascripts/searchBox.js')
    script.
        songlistTableComponent.init(document.getElementById('songlistTable'))
        searchBoxComponent.init(document.getElementById('searchBox'))
        
    
