extends layout

block content
    nav.navbar.navbar-transparent
        .container-fluid
            .navbar-header
            <a class='navbar-brand' href="/" style="color: black"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span> SPF.IO Songbase </a>
            .collapse.navbar-collapse
                include topnav-user
    h1 Songs
    #searchBox
    //- #search-option
    //- a#add.btn.btn-default(href="/songlist-db/add") Add New Song
    br
    //- #info.alert.alert-success(style='display: none') Song added to the library
    #song-table
    script(type='text/javascript').
        var songs = !{JSON.stringify(songs).replace(/<\//g, "<\\/")}
        var currentInLibrary = !{JSON.stringify(inLibrary).replace(/<\//g, "<\\/")}
            
    //- script(src='/javascripts/searchOption.js')
    script(src='/javascripts/songlistTable.js')
    script(src='/javascripts/searchBox.js')
