ul.nav.navbar-nav.navbar-right
    -if(login && user.username != 'admin')
        li(style="font-size: 1em; line-height: 50px; margin-right: 0.7em") Hi #{user.username}
        li
            <a href="/user/library" class="btn btn-default" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-cd" aria-hidden="true"></span> Library </a>
        li    
            <a href="/user/playlist" class="btn btn-default" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-music" aria-hidden="true"></span> Playlist </a>
        li
            a.btn.btn-default(href='/user/logout' role='button') Logout


    -else if(login && user.username == "admin")
        li(style="font-size: 1em; line-height: 50px; margin-right: 0.7em") Hi #{user.username}
        li
            a(href="/songlist-db") Song Database
        li
            a(href="/userlist") User Database
        li
            a(href='/user/logout') Log Out
    -else
        a.btn.btn-default(href='/user/login' role='button') Log In
        a.btn.btn-default(href='/user/signup' role='button') Sign up
