header.navbar.navbar-default
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#topmenu" aria-expanded="false")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(href='/')
                img(src='/images/glorifyicontransparent_96x96.png' style='height: 40px; margin: 3px 12px 0 0')

        nav#topmenu.collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a(href='/discover') Discover Songs
                - if(login && user.username !== 'admin')
                    li
                        a(href="/songlist-db/add") Add Song
                    li
                        a(href="/user/library") Favorites
                    li
                        a(href="/user/playlist") Playlist
                - else if(login && user.username === 'admin')
                    li
                        a(href="/songlist-db") Song Database
                    li
                        a(href="/language") Language Database
            if !withoutSearchbox
                .navbar-form.navbar-left
                    #searchBox(style='width: 330px')
            ul.nav.navbar-nav.navbar-right
                if login
                    li
                        a(href="/user/account") #{user.username}
                    li
                        a(href="/user/logout") Log Out
                else
                    li
                        a(href="/user/login") Log In
                    li
                        a(href="/user/signup") Sign Up
if !withoutSearchbox
    script(src='/dist/js/index.js')
    script.
        glorifyApp.initSearchBoxHome();
