nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(href='/')
                img(src='/images/glorifyicontransparent_96x96.png')

        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
                - if(login && user.username !== 'admin')
                    li
                        a(href="/user/library") Library
                    li
                        a(href="/user/playlist") Playlist

                - else if(login && user.username === 'admin')
                    li
                        a(href="/songlist-db") Song Database
                    //- li
                    //-     a(href="/admin/userlist") User Database
                li
                    a(href='/help') Help
            .navbar-form.navbar-left
                #searchBox(style='width: 330px')
            ul.nav.navbar-nav.navbar-right
                if login
                    li
                        a #{user.username}
                    li
                        a(href="/user/logout") Log Out
                else 
                    li
                        a(href="/user/login") Log In
                    li
                        a(href="/user/signup") Sign Up

script(src='/dist/javascripts/searchBoxHome.js')
script.
    m.mount(document.getElementById('searchBox'), searchBoxHome().searchBoxHomeComponent)
