extends layout

block content
    h1 User List Database
    p
        a#delete.btn.btn-default(href="#") Delete
    table.table
        thead
            tr
                th
                th Username
                th Email
                th
        tbody
            each user in users
                tr
                    td
                        input(type="checkbox", id=user.id)
                    td 
                        a(href="/userlist/user") #{user.username}
                    td 
                        a(href="mailto:#{user.email}") #{user.email}
                    td
                        a.btn.btn-default View User Contributed Songs
