extends ../layout

block content
    .panel.panel-default(style='max-width: 700px; margin: auto;')
        .panel-body
            h1 Thank you for subscribing to Glorify!
            p It means so much to us to have your support! Your name will be added to the Supporters page in the next 24 hours.
