extends ../layout

block content
  h1 Terms of Service ("Terms")
  p.lead Last updated: December 9, 2016

  p Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the http://www.glorify.cc website (the "Service") operated by TheoTech LLC (the “Company”, "us", "we", or "our").

  p Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users, and others who access or use the Service. These Terms supersede any previous Terms of Service.

  p By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.

  p All disputes between you and the Company will be resolved by BINDING ARBITRATION. YOU AGREE TO GIVE UP YOUR RIGHT TO GO TO COURT to assert or defend your rights under this contract, except for matters that may be taken to small claims court. Your rights will be determined by a NEUTRAL ARBITRATOR and NOT a judge or jury, and your claims cannot be brought as a class action. See the “Resolving Disputes” section for more detail.

  h2 Links To Other Web Sites

  p Our Service may contain links to third­ party web sites or services that are not owned or controlled by TheoTech LLC.

  p TheoTech LLC has no control over, and assumes no responsibility for the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that TheoTech LLC shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.

  p We strongly advise you to read the terms and conditions and privacy policies of any third­ party web sites or services that you visit.

  h2 Conditions of Use & User Conduct

  p Glorify.cc, TheoTech LLC, and its associated logos are owned by the Company. You may not copy, imitate, or use them without prior written consent from the Company.

  p You agree to notify us immediately of any unauthorized use of your password and/or account. The Company will not be responsible for any liabilities, losses, or damages arising out of the unauthorized use of your member name, password, and/or account.

  p Your permission to use the Service is conditioned upon the following Use Restrictions and Conduct Restrictions. You agree that you will NOT under any circumstances:

  ul
    li Use the Service for any unlawful purpose or for the promotion of illegal activities; Post any information that is abusive, threatening, obscene, defamatory, libelous, or racially, sexually, or otherwise objectionable and offensive;
    li Attempt to, or harass, abuse, or harm another person or group;
    li Use another user’s account without permission;
    li Use this Service if you are under 13;
    li Provide false or inaccurate information when registering an account;
    li Publicly post or transmit any material that infringes or violates any third party’s rights, including but not limited to copyright, trademark, or other proprietary right of any third party;
    li Interfere or attempt to interfere with the proper functioning of the Service;
    li Make any automated use of the system, or take any action that we deem to impose or to potentially impose an unreasonable or disproportionately large load on our servers or network infrastructure;
    li Bypass any robot exclusion headers or other measures we take to restrict access to the Service or use any software, technology, or device to scrape, spider, or crawl the Service or harvest or manipulate data; or
    li Publish or link to malicious content intended to damage or disrupt another user’s browser or computer.

  p You are solely responsible for the User Content that you upload, post, link to, or otherwise make available via the Service. You represent and warrant that you either are the sole and exclusive owner of all Content you make available on the Service or you have all necessary licenses, rights, and/or releases to make the Content available on the Service.

  h2 License Granted by User

  p By posting or otherwise making publicly available Content on the Service, you agree to making the Content available to the Company and to all Users under the terms of Creative Commons Zero, which means you “[dedicate] the work to the public domain by waiving all of his or her rights to the work worldwide under copyright law, including all related and neighboring rights, to the extent allowed by law.” (https://creativecommons.org/publicdomain/zero/1.0/). Works under the Creative Commons Zero (CC0) license means anyone can distribute and perform the work without requiring permission. Please review the terms for your reference.

  p When you use the Service, you represent and warrant that you have all necessary rights and licenses to use, reproduce, publish, display, distribute, or otherwise utilize User Content you upload on or through the Service. You also represent and warrant that the User Content will not infringe or otherwise violate the copyright, trademark, or other intellectual property rights of any third party. Glorify.cc takes no responsibility and assumes no liability for any Content posted or submitted by you. We reserve the right to remove any Content at our discretion.

  p IF YOU DO NOT AGREE TO THESE TERMS AND CONDITIONS, YOU MUST NOT AND YOU ARE NOT PERMITTED TO UPLOAD ANY CONTENT TO THIS WEBSITE.


  h2 Copyright Issues


  p If you believe that Glorify.cc or any user of the Service has violated a copyright, trademark, or other right you claim in your work, please contact us pursuant to the U.S. Digital Millennium Copyright Act (“DMCA”) at copyright@theotech.org.


  p In submitting the Notice of Claimed Infringement, you must include the following (per http://www.copyright.gov/legislation/pl105-304.pdf):
  ul
    li An electronic or physical signature of a person authorized to act on behalf of the holder of the copyright or other right allegedly infringed
    li Identification of the copyrighted work claimed to have been infringed. If multiple copyrighted works are included in the single notification, a representative list must be provided
    li Identification of the material that is claimed to be infringing and that is to be removed or access to which is to be disabled, and information reasonably sufficient to for us to locate the material
    li Information reasonably sufficient to permit the service provider to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address
    li A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law.
    li A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed


  h2 Intellectual Property Ownership

  p The Company alone (and its licensors, where applicable) shall own all right, title and interest, including all related intellectual property rights, in and to the Service and any suggestions, ideas, enhancement requests, feedback, recommendations or other information provided by you or any other party relating to the Website (collectively “Feedback”). You are not required to provide any Feedback to the Company. To the extent you do provide any Feedback to the Company, you agree to assign and hereby do assign to the Company all right, title and interest in and to such Feedback and agree that the Company may freely utilize such Feedback without compensation to you. These Terms don't grant you any right, title or interest in the Service, others' content in the Service, Glorify.cc or TheoTech LLC trademarks, logos and other brand features.


  h2 Payment Terms
  p Any fees that the Company may charge for use of the Service are due immediately and are non-refundable. You are responsible for any applicable taxes, which will be charged when required to do so.


  h2 Termination
  p If you violate any part of these Terms, or otherwise create risk or possible legal exposure for us, we may stop providing the Service to you. We will notify you by email or the next time you attempt to access your account(s).

  p All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.


  h2 Privacy Policy

  p The Company respects the privacy of its Service users. Please refer to the Company’s Privacy Policy (found here: [link]) which explains how we collect, use, and disclose information that pertains to your privacy. Your access or use of the Service signifies your agreement to this Privacy Policy.


  h2 Disclaimer of Warranties
  p While the Company attempts to make User Content available through the Service, the Company does not guarantee access to, or hosting of, your User Content. You agree that the Company will not be liable to you or to any third party for termination of your access to the Service for any reason.
  p You understand that the Service is provided "as is". The Company makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, the Company does not warrant or make any representations concerning the accuracy, likely results, or reliability of the Service and/or User Content, or on any sites linked to this site.


  h2 Limitation of Liabilities
  p In no event shall the Company be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the Service and/or User Content, even if the Company has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.


  h2 Indemnification
  p You agree to defend, indemnify, and hold the Company harmless from any claim or demand, including attorneys’ fees, made by any third party due to or arising out of your breach of these Terms, your improper use of our Service, and/or your violation of any law or the rights of a third party.


  h2 Resolving Disputes
  p Before filing a claim against the Company, you agree to try to resolve the dispute informally by contacting glorify@theotech.org. We'll try to resolve the dispute informally by contacting you via email. If a dispute is not resolved within 30 days of submission, either you or the Company may bring a formal arbitration proceeding.
  p You and the Company agree to resolve any claims relating to these Terms or the Services through final and binding arbitration, rather than in court, except that you may assert claims in small claims court if your claims qualify. The Federal Arbitration Act (FAA) and federal arbitration law apply to this agreement.
  p Arbitration uses a neutral arbitrator instead of a judge or jury, may allow for more limited discovery than in court, and can be subject to very limited review by courts. Arbitrators can award the same damages and relief that a court can award. This agreement to arbitrate disputes includes all claims arising out of or relating to any aspect of this Agreement, whether based in contract, tort, statute, fraud, misrepresentation, or any other legal theory, and regardless of whether a claim arises during or after the termination of this Agreement. YOU UNDERSTAND AND AGREE THAT, BY ENTERING INTO THIS AGREEMENT, YOU AND THE COMPANY ARE EACH WAIVING THE RIGHT TO A TRIAL BY JURY OR TO PARTICIPATE IN A CLASS ACTION.
  p To begin an arbitration proceeding, send a letter requesting arbitration and describing your claim to ATTN: Legal 8810 35th AVE NE Seattle, WA 98115. Arbitration will be conducted by the American Arbitration Association (AAA) under its rules, including AAA’s Supplementary Procedures for Consumer-Related Disputes. The AAA’s rules are available at www.adr.org or by calling the AAA at 1-800-778-7879. The AAA’s rules will govern the payment of all arbitration fees. You may choose to have the arbitration conducted by telephone, based on written submissions, in person in Washington state, or at a mutually agreed location.

  h2 Governing Law
  p These Terms shall be governed and construed in accordance with the laws of the state of Washington in the United States.
  p Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.

  h2 Modifications to Terms
  p We reserve the right, at our sole discretion, to modify or replace these Terms at any time for any reason without notice. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
  p By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.

  h2 Complete Agreement
  p The Terms above as well as the Privacy Policy set forth the entire understanding between the  user and the Company. Unless stated otherwise, if any portion of these Terms is held unenforceable or invalid, the remainder of the Terms remains enforceable and in full effect.

  h2 Contact Us
  p If you have any questions about these Terms, please <a href="/contact">contact us</a>.
