    body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    }

    a {
        color: #00B7FF;
    }

    #header.parent{
      position: relative;
    }

    #header.child {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .search-form {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        position: relative;
        margin: auto;
        width: 25em;
    }

    @media screen and (max-width: 480px) {
        .search-form {
            width: 20em;
        }
    }

    .modal-header, h4#songcart, .close {
        background-color: #5cb85c;
        color: white !important;
        text-align: center;
        font-size: 30px;
    }

    .capitalize {
        text-transform: capitalize;
    }

    .adminOption {
        position: fixed;
        bottom: 0;
        right: 0;
    }


    a#playlist{
        cursor: pointer
    }
    /*.borderless {
        border-top-style: none;
        border-left-style: none;
        border-right-style: none;
        border-bottom-style: none;
    }*/

    /*.hidden {
        display: none;
    }*/
