/*hero image*/

.jumbotron {
    background-image: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(/images/hero_image.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: none !important;
    padding-top: 150px !important;
}

.capitalize {
    text-transform: capitalize;
}


/*set the td to align with th*/

.alignWithTitle {
    padding-left: 0 !important;
}


/*circular icon on the features section on the landing page*/

.circularIcon {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
    background-color: #272b30;
}


/*hr on the pdf preview page*/

hr.preview {
    height: 2px;
    background-color: #000000;
}

#homeTopbar>header {
    margin-bottom: 0;
}

footer a {
    font-size: 13px;
}

footer h5 {
    font-size: 1px;
}

#searchBoxHome {
    width: 450px;
    margin: auto
}

#discoverBox {
    width: 550px;
}

@media screen and (max-width: 1200px) {
    p#lyricsInManyLanguages {
        height: 60px;
    }
    p#shareWithGlobalChurch {
        height: 60px;
    }
}

@media screen and (max-width: 991px) {
    p#shareWithGlobalChurch {
        height: 80px;
    }
    h4#freedomToWorship {
      height: 38px
    }
}

@media screen and (max-width: 768px) {
    p#lyricsInManyLanguages {
        height: 40px;
    }
    p#shareWithGlobalChurch {
        height: 40px;
    }
}

@media screen and (max-width: 570px) {
    #searchBoxHome {
        width: 300px;
    }
    #discoverBox {
        width: 350px;
    }
}
