    body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    }

    a {
        color: #00B7FF;
    }

    #header.parent {
        position: relative;
    }

    #header.child {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .table td {
        text-align: center;
    }

    .table th {
        text-align: center;
    }

    #searchBox.index {
        width: 30em;
        margin: auto;
    }

    #searchInput {
        width: 30em;
    }

    @media screen and (max-width: 480px) {
        #searchBox.index {
            width: 25em;
            margin: auto;
        }
        #searchInput {
            width: 25em;
        }
    }

    .capitalize {
        text-transform: capitalize;
    }

    .adminOption {
        position: fixed;
        bottom: 0;
        right: 0;
    }

    a#playlist {
        cursor: pointer
    }

    a.thumbnail.home {
        width: 300px;
        height: 300px;
        margin-top: auto;
        text-align: center;
    }


    .circularIcon {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        font-size: 24px;
        line-height: 1.33;
        border-radius: 35px;
        background-color: #272b30;
    }

    :hover {
     background-position: 0px;
    }

    a#slide {
      background: url('/images/slide.png') no-repeat 0 1;
    }

    hr#preview {
      height:2px;
      background-color:#000000;
    }

    .helpPageQuestion {
      margin-bottom: 50px;
    }
