extends ../layout

block content
    include previewHeader
    #exportOption
    include exportButton
    hr
    //Note: songs2d = [[Song Schema that the user checked]]
    each songs in songs2d
        h4.text-center
            each song in songs
                span #{song.title}
            span .pptx
        div(style='font-size: 12px; text-align: center; height: 330px; width: 500px; margin: auto; background-color: black; display: table')
            div(style='display: table-cell; vertical-align: middle')
                each song in songs
                    p #{song.lyrics[0][0]}
        br
        hr
    include exportButton

    script.
        var maxNumberOfSongs = !{JSON.stringify(maxNumberOfSongs).replace(/<\//g, "<\\/")}
    script(src='/dist/javascripts/exportOption.js')
    script.
        import m from 'mithril';
        m.mount(document.getElementById('exportOption'), exportOption(3, maxNumberOfSongs))
