extends ../layout

block content
    h1 Preview
    #exportOption
    include exportButton
    hr.preview
    //Note: songs2d = [[Song Schema that the user checked]]
    each songs in songs2d
        h1
            each song in songs
                span #{song.title} 
            span .pptx
        div(style='font-size: 12px; text-align: center; height: 330px; width: 500px; margin: auto; background-color: black;')
            each song in songs
                div(style='padding: 15px;')
                each line in song.lyric[0]
                    p #{line}
        br
        hr.preview
    include exportButton  

    script.
        var maxNumberOfSongs = !{JSON.stringify(maxNumberOfSongs).replace(/<\//g, "<\\/")}
    script(src='/dist/javascripts/exportOption.js')
    script.
        m.mount(document.getElementById('exportOption'), exportOption(2, maxNumberOfSongs))
