extends ../layout

block content
    include ../topnav
    h1 Preview
    #exportOption
    hr(style='height:2px; background-color:#000000;')
    //Note: songs2d = [[Song Schema that the user checked]]
    each songs in songs2d
        each song in songs
            h1 #{song.title}.pptx
            div(style='font-size: 20px; text-align: center; height: 330px; width: 500px; margin: auto; background-color: black; display: table')
                div(style='display: table-cell; vertical-align: middle')
                    each line in song.lyric[0]
                        p #{line}
            br
            hr(style='height:2px; background-color:#000000;')          
    
    include exportButton

    script(src='/dist/javascripts/exportOption.js')
    script.
        m.mount(document.getElementById('exportOption'), exportOption(1))
