extends ../layout

block content
    h1 Preview
    #exportOption
    include exportButton
    hr.preview
    //Note: songs2d = [[Song Schema that the user checked]]
    each songs in songs2d
        each song in songs
            h1 #{song.title}.pptx
            div(style='font-size: 20px; text-align: center; height: 330px; width: 500px; margin: auto; background-color: black; display: table')
                div(style='display: table-cell; vertical-align: middle')
                    each line in song.lyrics[0]
                        p #{line}
            br
            hr.preview         
    include exportButton

    script.
        var maxNumberOfSongs = !{JSON.stringify(maxNumberOfSongs).replace(/<\//g, "<\\/")}
    script(src='/dist/javascripts/exportOption.js')
    script.
        m.mount(document.getElementById('exportOption'), exportOption(1, maxNumberOfSongs))
