extends ../layout

block content
    h1 Select Translations
    #export1Table

    script.
        var uniqueLanguages = !{JSON.stringify(uniqueLanguages).replace(/<\//g, "<\\/")}
        var songs = !{JSON.stringify(songs).replace(/<\//g, "<\\/")}
        var playlistName = !{JSON.stringify(playlistName).replace(/<\//g, "<\\/")}
    script(src='/dist/javascripts/export1Table.js')
    script.
        export1TableComponent.init(document.getElementById('export1Table'))
