extends ../layout

block content
    h1 Select Translations
    p.lead For each song in the playlist, check off the languages you would like to export, then press "Preview".
    #export1Table

    script.
        var uniqueLanguages = !{JSON.stringify(uniqueLanguages).replace(/<\//g, "<\\/")}
        var songs = !{JSON.stringify(songs).replace(/<\//g, "<\\/")}
        var playlistName = !{JSON.stringify(playlistName).replace(/<\//g, "<\\/")}
    script(src='/dist/js/index.js')
    script.
        glorifyApp.initExport1Table(document.getElementById('export1Table'))
