extends ../layout

block content
    .container-fluid
        h1 Favorites
        #searchBox
        if messages.error
            .alert.alert-danger
                p #{messages.error}
        br
        a.btn.btn-default(href='/songlist-db/add') Add Song
        #library

    script.
        var songsRaw = !{JSON.stringify(songs).replace(/<\//g, "<\\/")}
        var playlists = !{JSON.stringify(playlists).replace(/<\//g, "<\\/")}
        var isLoggedIn = !{JSON.stringify(login).replace(/<\//g, "<\\/")}
    script(src='/dist/js/index.js')
    script.
        glorifyApp.initLibraryTable();
