extends ../layout

block content
    .container-fluid
        h1 Favorites
        #searchBox
        if messages.error
            .alert.alert-danger
                p #{messages.error}
        br
        a.btn.btn-default(href='/songlist-db/add') Add Song
        #library

    script.
        var songs = m.prop(!{JSON.stringify(songs).replace(/<\//g, "<\\/")})
        var playlists = !{JSON.stringify(playlists).replace(/<\//g, "<\\/")}
        var isLoggedIn = !{JSON.stringify(login).replace(/<\//g, "<\\/")}
    script(src='/dist/javascripts/selectPlaylist.js')
    script(src='/dist/javascripts/playlistModal.js')
    script(src='/dist/javascripts/addToPlaylistButton.js')
    script(src='/dist/javascripts/deleteButton.js')
    //- script(src='/dist/javascripts/searchBox.js')
    script(src='/dist/javascripts/libraryTable.js')
    script.
        libraryTableComponent.init(document.getElementById('library'))
        //- m.mount(document.getElementById('searchBox'), m(searchBoxComponent.searchBox, {url: '/user/library'}))
