extends ../layout

block content
    h1 Search Results
    br
    include ../partials/googleads
    br
    #songlistTable

    script.
        var songsRaw = !{JSON.stringify(songs).replace(/<\//g, "<\\/")}
        var inLibraryRaw = !{JSON.stringify(inLibrary).replace(/<\//g, "<\\/")}
        var playlistsRaw = !{JSON.stringify(playlists).replace(/<\//g, "<\\/")}
        var isLoggedIn = !{JSON.stringify(login).replace(/<\//g, "<\\/")}

    script(src='/dist/js/index.js')
    script.
      glorifyApp.initSearchPage();
        
