extends ../layout

block content
    h1 Search Results
    br
    include ../partials/googleads
    br
    #songlistTable

    script.
        var songs = !{JSON.stringify(songs).replace(/<\//g, "<\\/")}
        var inLibrary = !{JSON.stringify(inLibrary).replace(/<\//g, "<\\/")}
        var playlists = !{JSON.stringify(playlists).replace(/<\//g, "<\\/")}
        var isLoggedIn = !{JSON.stringify(login).replace(/<\//g, "<\\/")}

    script(src='/dist/js/index.js')
    script.
      glorifyApp.initSearchPage({
        songs: songs,
        inLibrary: inLibrary,
        playlists: playlists,
        isLoggedIn: isLoggedIn
      });
        
