extends ../layout

block content
    #playlistDetails

    script.
        var songsRaw = !{JSON.stringify(songs).replace(/<\//g, "<\\/")}
        var playlistName = !{JSON.stringify(playlistName).replace(/<\//g, "<\\/")}
    script(src='/dist/js/index.js')
    script.
      glorifyApp.initPlaylistDetails(songsRaw, playlistName);
