extends ../layout

block content
    #playlistClicked

    script.
        var songs = !{JSON.stringify(songs).replace(/<\//g, "<\\/")}
        var playlistName = !{JSON.stringify(playlistName).replace(/<\//g, "<\\/")}
    script(src='/dist/js/index.js')
    script.
      glorifyApp.initPlaylistClicked(songs, playlistName);
