extends ../layout

block content
    h1 Playlists
    #searchBox
    br
    #addNewPlaylistButton
    br
    #playlist

    script.
        var playlists = !{JSON.stringify(playlists).replace(/<\//g, "<\\/")}
    script(src='/dist/js/index.js')
    script.
        window.glorifyApp.initPlaylistTable(playlists)