extends ../layout

block content
    h1 Playlists
    if error_messages[0]
        .alert.alert-danger
            each message in error_messages
                p #{message}    
    #searchBox
    br
    #addNewPlaylistButton
    br
    #playlist

    script.
        var playlists = !{JSON.stringify(playlists).replace(/<\//g, "<\\/")}
    script(src='/dist/js/index.js')
    script.
        window.glorifyApp.initPlaylistTable(playlists)